---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Frontend Mentor | QR code component">
  <main>
    <Card
      img="/image-qr-code.png"
      imgAlt="QR code"
      title="Improve your front-end skills by building projects"
      description="Scan the QR code to visit Frontend Mentor and take your coding skills to the next level"
    />

    <div class="text-[11px] text-center mt-7">
      Challenge by <a
        class="text-dark-purple"
        href="https://www.frontendmentor.io?ref=challenge"
        target="_blank">Frontend Mentor</a
      >. Coded by <a
        class="text-dark-purple"
        href="https://github.com/numbersanalyst">Numbers analyst</a
      >.
    </div>
  </main>
</Layout>
