---
interface Props {
  img: string;
  imgAlt: string;
  title: string;
  description: string;
}

const { img, imgAlt, title, description } = Astro.props;
---

<div class="flex flex-col items-center bg-white p-5 rounded-3xl w-[350px] shadow-lg">
  <img class="rounded-xl" src={img} alt={imgAlt} />
  <div class="px-2 py-5">
    <h3 class="font-extrabold text-2xl text-center text-dark-blue">{title}</h3>
    <p class="text-center mt-5 text-lg tracking-tight leading-6 text-grayish-blue">{description}</p>
  </div>
</div>
